button{
  background-color: rgb(8, 90, 130);
  color: #eee;
  border-radius: 2px;
}
h3{
  color: rgb(25, 26, 25);
}
h3{
  color: rgb(25, 26, 25);
  font-size: 24px;
}
.info{
  color: rgb(25, 26, 25);
  margin-left: 10px;
  font-size: 18px;
}
